<div class="card mb-3 repository d-flex" id="repository_<%= repository.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      
      <div class="flex-grow-1 ms-3 text-break">
        <h5 class='card-title'>
          <% if @host.nil? %>
            <%= link_to repository.host.name, host_path(repository.host.name) %> / <% end %>
            <%= link_to repository, host_repository_path(repository.host, repository) %>
        </h5>
      
        <% if repository.metadata.present? && repository.metadata['description'] %>
          <p class="card-text text-muted mb-2">
            <%= truncate(repository.metadata['description'], length: 120) %>
          </p>
        <% end %>
        
        <p class="card-subtitle mb-2 text-muted"><small>
          <%= link_to host_repository_path(repository.host, repository), class: "text-decoration-none" do %>
            <%= pluralize repository.issues_count, 'Dependabot PR' %>
          <% end %>
          
          <% if repository.metadata.present? %>
            <% if repository.metadata['stargazers_count'] %>
              <%= octicon "star", class: "ms-3 me-1" %>
              <%= number_with_delimiter(repository.metadata['stargazers_count']) %>
            <% end %>
            <% if repository.metadata['forks_count'] %>
              <%= octicon "repo-forked", class: "ms-3 me-1" %>
              <%= number_with_delimiter(repository.metadata['forks_count']) %>
            <% end %>
            <% if repository.metadata['language'] %>
              <%= octicon "code", class: "ms-3 me-1" %>
              <%= repository.metadata['language'] %>
            <% end %>
          <% end %>
          
          <% if repository.last_synced_at %>
            <br/>Last synced: <%= distance_of_time_in_words_to_now repository.last_synced_at %> ago
          <% end %>
        </small></p>
      </div>
      <div class="flex-shrink-0">
        <img src="<%= repository.avatar_url %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
      </div>  
    </div>
  </div>
</div>