<% @meta_title = "#{@owner} Dependabot stats | #{@host}" %>
<% @meta_description = "Dependabot PR stats for #{@owner} on #{@host}" %>

<div class="container-sm">
  <h1 class='mb-4'>
    <%= link_to @host, host_path(@host) %> /
    <%= link_to @owner, "#{@host.url}/#{@owner}", target: :_blank %>
  </h1>

  <div class="row">
    <div class="col-md-8">
      <%= render @repositories %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Dependabot Stats</h6>
          <p class="card-text small">
            <strong>Total PRs:</strong> <%= number_with_delimiter @pull_requests_count %><br>
            <strong>Merged:</strong> <%= number_with_delimiter @merged_pull_requests_count %><br>
            <strong>Avg close time:</strong> <%= distance_of_time_in_words_if_present @average_pull_request_close_time %><br>
            <strong>Avg comments:</strong> <%= rounded_number_with_delimiter @average_pull_request_comments_count %>
          </p>
          <h6 class="card-title mt-3">Top Ecosystems</h6>
          <div class="card-text">
            <% @pull_request_labels_count.first(5).each do |label, count| %>
              <span class="badge bg-light text-dark me-1 mb-1">
                <%= label %> (<%= count %>)
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>